$font-color-1: #5BABD2;
$font-color-2: #566FA0;
$font-color-3: #5B538B;
$font-color-4: #554468;

ion-content {
  &.places {
    background-color: white;
  }
}

$card-font-family: opensans;
$card-border-top-style: solid;
$card-border-top-width: thin;
$card-margin: 1%;
$card-padding: 1%;
$card-box-shadow: 0 0 2px grey;

ion-card {
  &.places {
    font-family:      $card-font-family;
    border-top-style: $card-border-top-style;
    margin:           $card-margin;
    border-top-width: $card-border-top-width;
    padding:          $card-padding;
    box-shadow:       $card-box-shadow;

    &._0 {
      border-top-color: $font-color-1;
    }
    &._1 {
      border-top-color: $font-color-2;
    }
    &._2 {
      border-top-color: $font-color-3;
    }
    &._3 {
      border-top-color: $font-color-4;
    }
  }
}

$card-header-margin: 4%;
$card-header-letter-spacing: 0.1em;
$card-header-font-size: 1.3em;
$card-header-text-transform: uppercase;

h2 {
  &.places {
    margin:         $card-header-margin;
    letter-spacing: $card-header-letter-spacing;
    font-size:      $card-header-font-size;
    // text-transform: $card-header-text-transform;

    &._0 {
      color: $font-color-1;
    }
    &._1 {
      color: $font-color-2;
    }
    &._2 {
      color: $font-color-3;
    }
    &._3 {
      color: $font-color-4;
    }
  }
}

$card-location-info-margin:         4%;
$card-location-info-font-size:      0.7em;
$card-location-info-text-transform: uppercase;
$card-location-info-font-weight:    bold;
$card-location-info-font-color:     grey;

p {
  &.places {
    margin:         $card-location-info-margin;
    font-size:      $card-location-info-font-size;
    text-transform: $card-location-info-text-transform;
    font-weight:    $card-location-info-font-weight;
    color:          $card-location-info-font-color;
  }
}

$card-arrow-font-color: grey;
$card-arrow-width:      100%;
$card-arrow-margin:     auto;

ion-col {
  &.places {
    &.arrow {
      color:  $card-arrow-font-color;
      width:  $card-arrow-width;
      margin: $card-arrow-margin;
    }

    &.strip {
      &._0 {
        background: $font-color-1;
      }
      &._1 {
        background: $font-color-2;
      }
      &._2 {
        background: $font-color-3;
      }
      &._3 {
        background: $font-color-4;
      }
    }
  }
}
