$font-color-1: #5BABD2;
$font-color-2: #566FA0;
$font-color-3: #5B538B;
$font-color-4: #554468;

ion-content {
  &.places {
    background-color: white;
  }
}

$card-font-family:      opensans;
$card-border-top-style: solid;
$card-border-top-width: medium;
$card-margin:           2%;
$card-padding:          1%;
$card-box-shadow:       0 0 10px;

ion-card {
  &.places {
    font-family:      $card-font-family;
    border-top-style: $card-border-top-style;
    margin:           $card-margin;
    border-top-width: $card-border-top-width;
    padding:          $card-padding;

    &._0 {
      border-top-color: $font-color-1;
      box-shadow:       $card-box-shadow $font-color-1;
    }
    &._1 {
      border-top-color: $font-color-2;
      box-shadow:       $card-box-shadow $font-color-2;
    }
    &._2 {
      border-top-color: $font-color-3;
      box-shadow:       $card-box-shadow $font-color-3;
    }
    &._3 {
      border-top-color: $font-color-4;
      box-shadow:       $card-box-shadow $font-color-4;
    }
  }
}

$card-header-margin:         3%;
$card-header-letter-spacing: 0.1em;
$card-header-font-size:      1.8em;
$card-header-text-transform: uppercase;
$card-header-font-weight:    bold;
$card-header-text-overflow:  ellipsis;
$card-header-overflow:       hidden;
$card-header-white-space:    nowrap;

h2 {
  &.places {
    margin:         $card-header-margin;
    letter-spacing: $card-header-letter-spacing;
    font-size:      $card-header-font-size;
    font-weight:    $card-header-font-weight;
    text-overflow:  $card-header-text-overflow;
    overflow:       $card-header-overflow;
    white-space:    $card-header-white-space;

    &._0 {
      color: $font-color-1;
    }
    &._1 {
      color: $font-color-2;
    }
    &._2 {
      color: $font-color-3;
    }
    &._3 {
      color: $font-color-4;
    }
  }
}

$card-location-info-margin:         3%;
$card-location-info-font-size:      0.8em;
$card-location-info-text-transform: uppercase;
$card-location-info-font-weight:    bold;
$card-location-info-font-color:     grey;

p {
  &.places {
    margin:         $card-location-info-margin;
    font-size:      $card-location-info-font-size;
    text-transform: $card-location-info-text-transform;
    font-weight:    $card-location-info-font-weight;
    color:          $card-location-info-font-color;
  }
}

$card-arrow-font-color: grey;
$card-arrow-width:      100%;
$card-arrow-margin:     auto;

ion-col {
  &.places {
    &.arrow {
      color:  $card-arrow-font-color;
      width:  $card-arrow-width;
      margin: $card-arrow-margin;
    }

    &.strip {
      &._0 {
        background: $font-color-1;
      }
      &._1 {
        background: $font-color-2;
      }
      &._2 {
        background: $font-color-3;
      }
      &._3 {
        background: $font-color-4;
      }
    }
  }
}

$fab-button-font-color: white;

button {
  &.places {
    &.fab {
      color: $fab-button-font-color;

      &._0 {
        background: $font-color-1;
      }
      &._1 {
        background: $font-color-2;
      }
      &._2 {
        background: $font-color-3;
      }
      &._3 {
        background: $font-color-4;
      }
    }
  }
}
