@font-face {
  font-family: 'komoda';
    src: url("../assets/fonts/Komoda.otf");
}

@font-face {
  font-family: 'opensans';
    src: url("../assets/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'vibes';
    src: url("../assets/fonts/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: 'feronia';
    src: url("../assets/fonts/Feronia.ttf");
}
